**/node_modules/*
.DS_Store
support/*
cypress/screenshots/*
cypress/videos/*
yarn-error.log
mochawesome-report/
mochawesome.json
.idea/
cypress/results/
cypress/fixtures/testData/testDataSchema/**/*.js
.vscode
node_modules
cypress_cache
